.App {
  text-align: center;
}

p {
  margin-bottom: 1rem;
}

.counter {
  padding: 10px;
}

.counter-controls {
  display: inline-block;
  margin-left: 10px;
}

button {
  margin-right: 4px;
}

.button.is-danger {
  background: red;
}

.button.is-success {
  background: green;
}

.alternative-counter {
  display: flex;
}

input {
  margin: 0 10px;
}
.total {
  margin: 10px;
}
